@inject SignInManager<ApplicationUser> SignInManager

<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        @*If the user is signed-in display Logout link*@
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <form method="post" asp-controller="account" asp-action="logout">
                    <button type="submit" style="width:auto"
                            class="nav-link btn btn-link py-0">
                        Logout @User.Identity.Name
                    </button>
                </form>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Note" asp-action="Create">
                    Create
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="ToDo" asp-action="Create">
                    CreateToDO
                </a>
            </li>


        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="account" asp-action="register">
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="account" asp-action="login">
                    Login
                </a>
            </li>




        }
    </ul>
</div>