@{
    Layout = "~/Views/Shared/BootstrapLayout.cshtml";
    }
@model EditRoleViewModel;

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input required asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>