@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/BootstrapLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>

<p>
    NotesApp
    Marrja e shënimeve është një aktivitet i rëndësishëm në mbledhjen dhe sigurimin e informacionit. Shënimet mund të ruhen me qëllim afatgjatë apo afatshkurtë, që nunkupton se shënime të ndryshme janë të vlefshme në periudha kohore të ndryshme. Shënimet duhet që të ruhen dhe të qasen lehtë, shpejtë, dhe të ruhen në mënyrë të sigurtë. Shënimet janë të llojeve të ndryshme, duke filluar nga shkruarja e një numri telefoni, fjalëkalimi, shënimet në ligjerata, shënimet në intervista etj. Në shënime gjithashtu shkruhen lista të aktiviteteve të cilat duhet të kryhen dhe data të rëndësishme për takime, apo afate. Aplikacioni NotesApp bën të mundur që i gjithë ky informacion i larmishëm të ruhet lehtë, shpejtë, sigurtë dhe të kategorizohet në atë mënyrë që eksperienca gjatë përdorimit të jetë sa më e këndshme.
</p>
