@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/BootstrapLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kolegji UBT<br />
    Lagjja Kalabria,10000 Prishtine, Kosovo<br />
    <abbr title="Phone">Phone:</abbr>
    +383 38 541 400
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">info@ubt-uni.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ubt@ubt-uni.net</a>
</address>
